.logo{
    position: relative;
    width:12%;
    height: 140px;
    top:-10px;
    left:0px;
    margin:0px;
}
.barre_recherche{
    position: relative;
    width:60%;
    left: 160px;
    top:-80px; 
    right:0px;
}
#choix_option{
    width:200px;
    height: 40px;
}
#idRecherche{
    width: 460px;
    height: 35px;
}
#idGo{
    width: 60px;
    height: 38px;
    background-color:#f3953e;
    color: white;
    font-weight: bold;
    font-size:13pt;
}
.compte{
    position:relative;
    width:200px;
    left:899px;
    top:-135px;
    padding: 15px;
}
.panier{
    position:relative;
    width:50px;
    left:900px;
    top:-125px;
}
body {
    font-family: "Trebuchet MS";
}
.menu {
    position:relative;
    display: flex;              /* Transformation en flexbox */
    padding:0; 
    background-color: #0388e0d2;  
    justify-content: center;
    top:-140px;
    width:100%;
    left:30px;
    font-size: 13pt;
}
.menu li {
    list-style-type: none ;       /* Suppression des puces */
}
.menu a {
        display:block;                /* Transformation en block */
        min-width: 120px;             /* Largeur minimale des liens */   
        margin: 0.5rem;               /* Marges externes */
        padding: 0.12rem 0;            /* Marges internes */
        text-align: center;           /* Centrage du texte */   
        color: #fff;                  /* Couleur du texte */
        text-decoration: none;        /* Suppression du soulignement */
        transition: all 1s ;          /* Ajout des effets de transition */
}

.nouveaute{
    position: absolute;
    top:175px;
    left:100px;
    width:150px;
    height:30px;
    text-align: center;
    font-size:12pt;
    font-weight:bold;
    background-color: #f3953e;
    color: white;
    padding-top: 5px;
    border-radius: 4px;;
}

#zoneContenuItem{
    position: relative;
	width: 100px;;
	height: 20px;
	left:90px;
	top: 100px;
    display:inline-block;
}
.itemLivres{
    position: relative;
    display:inline-block; 
	margin-left:4%;
	padding-top: 30px;
    width:1300px;
    top:-130px;
    left:90px;
}
.itemFilms{
    position: relative;
    display:inline-block; 
	margin-left:5%;
	padding-top: 30px;
    top:-80px;
    left:90px;
    width:1300px;
}
.itemJeux{
    position: relative;
    display:inline-block; 
	margin-left:4%;
	padding-top: 30px;
    width: 1300px;
    left:90px;
    top:-50px;
}
.image{
    position: relative;
    width: 13%;
    height:210px;
    padding-top: 0px;
    padding-right: 4%;

}
.nouveauteFilms{
    position: absolute;
    top:450px;
    left:100px;
    width:150px;
    height:30px;
    background-color: #f3953e;
    color: white;
    width:150px;
    text-align:center;
    font-size:12pt;
    font-weight:bold;
    padding-top: 5px;
    border-radius: 4px;;
}

.nouveauteJeux{
    position: absolute;
    top:740px;
    left:100px;
    width:200px;
    height:30px;
    background-color: #f3953e;
    color: white;
    text-align:center;
    font-size:12pt;
    font-weight:bold;
    padding-top: 5px;
    border-radius: 4px;;
}

.ligneAdresse{
    text-align: center;
    color: #fff;    
    border-right:white solid 1px;
}

.ligneLivraison{
    position:relative;
    TOP:10px;
    text-align: center;
    color: #fff;
   
}
.lignePaiement{
    position: relative;
    text-align: center; 
    top:1px;
    color: #fff;
    border-left:white solid 1px;
}
.iconMap{
    position: relative;
    width:30px;
    left:-230px;
    top:33px;

}
.iconlivraison{
    position: relative;
    top:0px;
    left:0px;  
    width:60px;
    padding:3px;
}
.piedpage{
    position: absolute;
background-color: #0388e0d2;
width:100%;

}
footer{
    position: relative;
    bottom: 0;
    left:0;
     width: 100%;
 }
 #idItem{
    position:relative;
    width:50px;
    left:870px;
    top:-155px; 
    font-weight: bold;
}

nav ul li a:hover{
    color:rgb(95, 94, 94);
    box-shadow: 2px 2px 10px -2px rgba(0,0,0,.35);
    color: #27262c;
    animation: spring 300ms ease-out;
    text-shadow: 0 -1px 0 #ef816c;
      font-weight: bold;
}
li:active {
  transform: translateY(4px);
}